<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil del alumno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Información del alumno
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text> Alejandro Valdivia </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Rut:</ion-label>
        <ion-text> 20.904.717-9 </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Especialidad:</ion-label>
        <ion-text> Ing en informatica </ion-text>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
